  @font-face { 
    font-family: Raleway; 
    font-weight: regular;
    src: url("fonts/raleway-regular.ttf"); 
  }
  
  @font-face { 
    font-family: Raleway; 
    font-weight: light;
    src: url("fonts/raleway-thin.ttf"); 
  }
  
  
  @font-face { 
    font-family: Kollektif; 
    src: url("fonts/kollektif.ttf"); 
  }
  
  @font-face { 
    font-family: Poppins; 
    src: url("fonts/poppins-regular.ttf"); 
  }

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-family: Poppins;
  
  font-size: 1.6em;
  
  margin-bottom: 3vh;
}

h2 {
  font-family: Kollektif;
  font-size: 1.25em;
  
  margin-top: 1vh;
}

p {
  font-family: Raleway;
  font-size: 1.4em;
}

h1, h2, p {
  color: white;
}

body {
  width: 100vw;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  flex-direction: column;

}

page {
  height: auto;
}

main {
  background-image: url("back.png");
  background-size: cover;
  background-position: bottom;

  height: auto;
  width: 100vw;

  position: relative;
  
  padding: 0vw 10vw 10vw 10vw;

  z-index: -1;
}

#reference {
  padding-bottom: 12.5vh;
}

header {
  height: 175px;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

header > img {
  height: 275px;
}

#random-image {
  margin-top: -30%;
  width: auto;
}

#random-image > img {
  position: relative;
  width: 100%;

  object-fit: cover;

  z-index: -2;
}

#social-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  padding: 5vw;

  background-color: rgb(232, 230, 255);
}

#follow {
  color: black;

  font-family: Poppins;
  font-size: 1.25em;

  margin-bottom: 3vh;
}

.social {
  height: 5vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 2vh;
  margin-bottom: 2vh;
}

.social > img {
  filter: invert(90%);
  width: 10vw;

  margin-right: 1.5em;
  
}

.social > p {
  color: black;
}

.hide {
  display: block;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 20px;
  }
  main {
    display: block;

    background-color: rgb(0, 74, 173);
    background-image: none;


    position: relative;
    height: 100%;
    width: 50%;

    padding: 10vw;
  }

  page {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgb(0, 74, 173);
    background-image: none;


    height: 100%;
    width: 100%;

    z-index: -3;
  }



  #random-image {
    display: block;
    position: absolute;
    right: 0;
    top: 0;

    height: 100%;
    width: 50%;

    margin: 0;
  }

  #random-image > img {
    height: 100%;
  }

  #social-media {
    display: none;
}

.social > img {
  width: 4vw;
  
}

body, page, main {
  display: block;
}
  
}

@media screen and (max-width: 490px) {
  #random-image {
    margin-top: -40%;
  }
}